fastapi[standard]
uvicorn[standard]
python-multipart
pillow
aiofiles
tqdm
matplotlib
seaborn
pandas
opencv-python-headless
requests
gunicorn
gitpython>=3.1.30
scipy>=1.4.1
faiss-cpu
tqdm>=4.64.0
setuptools>=65.5.1